extends ../layouts/default.jade

block content

    section#intro.slide
        .intro-body
            img.hidden-img-intro(src="img/intro.jpg")
            //- .col-md-8.col-md-offset-2
            //-     h1.brand-heading Guake Terminal
            //-     p.intro-text
            //-         p Advanced Top-Down Terminal for the GNOME Desktop
            //-     .page-scroll
            //-         a.btn.btn-circle(href='#what')
            //-             i.fa.fa-angle-double-down.animated

    #overview-carousel.carousel.slide(data-ride="carousel" data-interval="3000")
        //- <!-- Indicators -->
        ol.carousel-indicators
            li.active(data-target="#overview-carousel" data-slide-to="0")
            li(data-target="#overview-carousel" data-slide-to="1")
            li(data-target="#overview-carousel" data-slide-to="2")
            li(data-target="#overview-carousel" data-slide-to="3")

        //- <!-- Wrapper for slides -->
        .carousel-inner
            .item.active(role="listbox")
                //- img(src="http://placehold.it/1200x315" alt="...")
                //- .carousel-caption
                .carousel-content
                    h3 Internet beat time
                    p Read current internet beat time and local time on your wrist at the same time
            .item(role="listbox")
                //- img(src="http://placehold.it/1200x315" alt="...")
                .carousel-content
                    h3 Simple and Essential
                    p Read beats, centibeats and internet date based on Biel Mean Time (BMT),  
            .item(role="listbox")
                .carousel-content
                    h3 Power saving mode
                    p Save battery juice while on ambient mode
            .item(role="listbox")
                .carousel-content
                    h3 Night Day Worldmap
                    p Optional live Night Day Worldmap background image updated every 15 minutes

        //- <!-- Controls -->
        a.left.carousel-control(href="#overview-carousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href="#overview-carousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right

    section#what.slide
        .container
            .row
                .col-lg-8.col-lg-offset-2

                    h1.animate-in(data-animation="space-in")
                        | Discover Internet beat time watchface

                    p.animate-build(data-animation="fade-in" data-build="1")
                        | Internet Beat Time Watchface is a watchface that runs on every Android wear device.
                        | You can customize the watchface background and foreground color using the Android application automatically installed on your Android device.

                    p.animate-build(data-animation="fade-in" data-build="2")
                        | Power saving mode when the smartwatch enters in ambient mode. When this occurs the watchface is updated every minute.
                        | If the save energy mode is not active on the Android app the watch is updated when the beat time changes as well
            .row
                .page-scroll.animate-build(data-animation="fade-in" data-build="3")
                    #what-hook
                    a.btn.btn-circle(href='#firstlook')
                        i.fa.fa-angle-double-down.animated

    section#firstlook.slide
        .container
            .row
                .col-lg-8.col-lg-offset-2

                    h1.animate-in(data-animation="space-in" data-build="1")
                        | How does Internet beat time watch face look like?

            .row
                .col-md-12.col-xs-8.col-xs-offset-2.col-md-offset-0
                    .row.animate-build(data-animation="fade-in" data-build="2")
                        .col-xs-12.col-md-offset-1.col-md-5
                            p.screenshot-legend
                                | Internet beat time on your wrist, always at your fingertips!

                            p.screenshot-description
                                | Imagine you are making an appointment on the internet with your foreign friend.
                                | You must first agree on a specific time. Maybe your friend lives on a different timezone
                                | and maybe where he's using daylight savings mode and you are not, so you must do the math.
                                | Internet beat time is designed to avoid this complexity, it is immutable throughout different time zone and
                                | daylight savings mode.
                                | Just agree on a Internet Beat Time hour with your friend and that's all.
                                | For more information visit the <a href="http://en.wikipedia.org/wiki/Swatch_Internet_Time">Internet beat time wikipedia webpage</a>

                        .col-xs-12.col-md-5
                            a.screenshot-link(href="img/screenshot.png")
                               img(src="img/screenshot-tb.png")
                            br
                            a.screenshot-link(href="img/screenshot2.jpg")
                               img(src="img/screenshot2-tb.png")

            .row
                .page-scroll.animate-build(data-animation="fade-in" data-build="3")
                    #firstlook-hook
                    a.btn.btn-circle(href='#more')
                        i.fa.fa-angle-double-down.animated

    
    section#sources.slide
        .download-section
            .container
                .col-lg-8.col-lg-offset-2
                    h1.animate-in(data-animation="space-in" data-build="1")
                        | How can I get Internet beat time watchface?

                    p.animate-build(data-animation="fade-in" data-build="2")
                        | Internet Beat Time Watchface is available on the Google Playstore.
                        ul.list-inline.banner-social-buttons
                        li(style="list-style:none;")
                            |   <a href="https://play.google.com/store/apps/details?id=com.ozzyboshi.internetbeattimewatchface"><img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" /> </a>
                    p.animate-build(data-animation="fade-in" data-build="2")
                        | Another way to get it is compiled from sources on my  <a href="https://github.com/Ozzyboshi/InternetBeatTimeWatchFace">GitHub repository</a> using Android Studio.
                        | If you want the latest bleeding edge experimental release I usually develop in <a href="https://github.com/Ozzyboshi/InternetBeatTimeWatchFace/tree/experimental_branch">this experimental branch</a>.

                    p.animate-build(data-animation="fade-in" data-build="4")
                        | To file a bug report or ask for a new feature, use
                        | <a href="https://github.com/Ozzyboshi/InternetBeatTimeWatchFace/issues">the Issues
                        | page of the GitHub project</a>.

                    h1.animate-in(data-animation="space-in" data-build="6")
                        | Can I contribute?

                    p.animate-build(data-animation="fade-in" data-build="6")
                        | Want a feature for Internet beat time watchface ? Contributions are welcome! Internet beat time watchface is mainly
                        | developed in the Java language using Android SDK.
                        | It is based on 
                        
                        a(href="http://catinean.com/2015/03/07/creating-a-watch-face-with-android-wear-api/") this tutorial 

                        | from Andrei Catinean.
                        | Don't hesitate to submit your Pull Request!

                    ul.list-inline.banner-social-buttons
                        li
                            a.btn.btn-default.btn-lg(href='https://github.com/Ozzyboshi/InternetBeatTimeWatchFace')
                                i.fa.fa-github.fa-fw
                                span.network-name
                                    | Github project page

                    iframe(src="https://ghbtns.com/github-btn.html?user=Ozzyboshi&repo=InternetBeatTimeWatchFace&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px")
                    iframe(src="https://ghbtns.com/github-btn.html?user=Ozzyboshi&repo=InternetBeatTimeWatchFace&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px")
                    iframe(src="https://ghbtns.com/github-btn.html?user=Ozzyboshi&repo=InternetBeatTimeWatchFace&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px")
                    iframe(src="https://ghbtns.com/github-btn.html?user=Ozzyboshi&type=follow&count=true&size=large&v=2" frameborder="0" scrolling="0" width="270px" height="30px")

        .page-scroll
            #sources-hook
            a.btn.btn-circle(href='#top')
                i.fa.fa-angle-double-up.animated
